
.jumbotron{
	background:rgba(100,107,79,0.8);
	color:#fff;
}

/*-----PRIMARY BUTTON-----
.btn-primary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background:#a2b667;
	border-color:#a2b667;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background:#55b298;
	border-color:#55b298;
}*/

/*-----BADGE-----*/
.badge{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*-----HOME-----*/
.tomato{
	background-image: url('/images/super-tomato.jpg');
	background-size: cover;
	background-position: bottom;
	height:700px;
}

.tomato>h1, .tomato>h2{color:red;}	

/*-----IMAGES-----*/
img {
	max-width: 100%;
	height: auto;
}
#tomate {
	width: 3em;
	height: auto;
}