h1,h2,h3,h4,h5,h6{
	font-family: 'Amatic SC',cursive; 
	font-weight:700;}

/*-----NAV BAR-----*/
.nav-link{
	color: #555 !important;
}
.nav-link.active, .nav-link:hover{
	color: #FF7851 !important;
	border-bottom: 2px solid #FF7851;
}

/*-----BADGE-----*/
.badge{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*-----HOME-----*/
.tomato{
	background-image: url('/images/404.jpg');
	background-size: cover;
	background-position: top;
	height:700px;
	padding-top: 0em;
}

.tomato>h1, .tomato>h2{color:#fff;}	

/*-----IMAGES-----*/
img {
	max-width: 100%;
	height: auto;
}
#tomate {
	width: 3em;
	height: auto;
}
.pointer {cursor: pointer;}

.pages-back {
	min-height: 100vh; 
	padding-bottom: 1em;
	background-attachment: fixed;
}